<h1 id='banner'>App</h1>

<div class="row">
   <div class=col-md-3></div>
   <div class=col-md-6>
         <strong id='title'>Press Submit to launch the app.</strong> 
   </div>
</div>


<div class="row">
   <div class="col-xs-1"></div>
   <div class="col-xs-5">
      <button id="submit" class="btn btn-primary btn-lg btn-block" {{action 'handleClick'}}>Go</button>
   </div>
   <div class="col-xs-5">
      <button disabled={{isDisabled}} id="reset" class="btn btn-primary btn-lg btn-block" {{action "resetEverything"}}> RESET </button>
   </div>
 </div>  

{{#if spinner}}
     <div id="load"><p>STILL LOADING</p></div>
{{/if}}




<div class="row">
   <div class=col-md-1></div>
   <div class=col-md-10>
      {{#if msg}}
      	<div class="alert alert-success animated fadeInDown">{{msg}}</div>
      {{/if}}
   </div>
</div>
<br/><br/> 


{{#if piecharts}}
   <div class="chart-container animated slideInUp" id="chartdisplay">
      {{high-charts mode=mode chartOptions=chartOptions content=chartData theme=theme}}
   </div>  
{{/if}}

<br/><br/> 

<div class="row">
   <div class=col-md-1></div>
   <div class=col-md-10>
      {{#if errormsg}}
         <div class="alert alert-danger bigger">{{errormsg}}</div>
      {{/if}}
   </div>
</div>



<br/><br/>

<footer>
   <p>Created by: Celine Broomhead</p>
  <p>Contact information: <a href="celine.broomhead@gmail.com">
  celine.broomhead@gmail.com</a>.</p>
</footer>

